.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-24 {
    font-size: 24px;
}

.w-fit-content {
    width: fit-content;
}

.color-gray {
    color: #555;
}

.mt-12 {
    margin-top: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}

.texts-black {
    color: black;
}

.color-purple {
    color: #7A2CF4;
}

.common-big-img-container {
    padding-top: 65%;
    position: relative;
    margin-right: 0%;
}

.common-big-img-container img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.common-mini-img-container-a {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.common-mini-img-container-a img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.common-mini-img-container-b {
    padding-bottom: 0%;
    padding-right: 20%;
    padding-top: 27%;
    padding-left: 28%;
    position: relative;
}

.common-mini-img-container-b img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .fs-12 {
        font-size: 9px;
    }
}


/* -----------------------------------
hero section 
----------------------------------- */

.common-big-img-container {
    padding-top: 65%;
    position: relative;
    margin-right: 0%;
}

.hero-section-main-img-content h2 {
    font-size: 34px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .hero-section-main-img-content h2 {
        font-size: 25px;
    }
    .small-img-john {
        width: 25px;
        height: 25px;
    }
    .hero-section-h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 596px) {
    .hero-section-main-img-content h2 {
        font-size: 22px;
    }
    .hero-sec-col {
        padding: 0 7px;
    }
    svg.start {
        width: 55px;
    }
    .small-img-john {
        width: 20px;
        height: 20px;
    }
}


/* -----------------------------------
second section 
----------------------------------- */

.second-sec-main-img img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.second-sec-main-img {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}