.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.w-fit-content {
    width: fit-content;
}

.color-gray {
    color: #555;
}

.mt-12 {
    margin-top: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}


/* -----------------------------------
hero section 
----------------------------------- */

.hero-section-img {
    padding-top: 50%;
    position: relative;
    margin-right: 11%;
}

.hero-section-img img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.hero-section-img-b {
    padding-bottom: 0%;
    padding-right: 17%;
    padding-top: 25%;
    padding-left: 28%;
    position: relative;
}

.hero-section-img-b img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.hero-section-main-img-content h2 {
    font-size: 34px;
    font-weight: bold;
}


/* .hero-section-img {
    width: 285px;
    height: 160px;
}

.hero-section-img img {
    border-radius: 6px;
    object-fit: cover;
} */